@using GraduationProject.Models.ViewModel
@model OrdersListViewModel
@{
    ViewData["Title"] = "Описание заказа";
}

<div >
    @{
        foreach (var order in Model.getAllOrders)
        {
            <div class="row">
                <div class="col-xs-12 col-md-8 text-center-xs text-center-sm">
                    <h1 class="m-b-0" style="line-height: 40px;"><span class="offer-hot-icon icon-lg"></span>@order.Name</h1>
                </div>
                <div class="col-xs-12 col-md-4 text-center-xs text-center-sm text-right-md text-right-lg">
                    <h2 class="m-b-0" style="line-height: 32px; font-size: 3rem;">
                        <strong class="text-brand" title="Работа">
                            Бюджет - @order.Price.ToString("C")
                        </strong>
                        <hr />
                        <small class="text-brand" title="Срок выполнения:">
                            Дедлайн - @order.DeadLine.ToString("dd.MM")
                        </small>
                    </h2>
                </div>
                <hr />
                @if (User.IsInRole("specialist"))
                {
                    <a asp-area="" asp-controller="Response" asp-action="Create"
                       asp-route-id="@order.OrderId" asp-route-recId="@order.CustomerId"
                       type="button" class="btn btn-primary btn-lg btn-block">Откликнуться</a>
                }
                @if (User.IsInRole("customer"))
                {
                    <a href="" type="button" class="btn btn-primary btn-lg btn-block">Смотреть отклики</a>
                }
            </div>
            <hr />
            <div class="col-xs-12">
                Полное описание заказа:
                @order.LongDesc
            </div>
            <hr />
            <div>
                <div>
                    <img src="/image/@order.Img" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <hr />
            @if (User.IsInRole("specialist"))
            {
                <a asp-area="" asp-controller="Orders" asp-action="OrdersList" type="button" class="btn btn-outline-danger">Назад</a>
            }
            @if (User.IsInRole("customer"))
            {
                <a asp-area="" asp-controller="Orders" asp-action="MyOrdersList" type="button" class="btn btn-outline-danger">Назад</a>
            }
            
        }
    }
</div>
