@using GraduationProject.Models.ViewModel
@model OrdersListViewModel
@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.orderCategory</h1>


<div class="row mt-5 mb-2">
    @{
        foreach(var order in Model.getAllOrders)
        {
            <div class="card mb-2">
                <h5 class="card-header">@order.Name</h5>
                <div class="card-body">
                    <h5 class="card-title">Дедлайн - @order.DeadLine.ToString("dd.MM.yyyy")</h5>
                    <p class="card-text">@order.ShortDesc.</p>
                    <a class="btn btn-primary" asp-controller="Orders" asp-action="getMoreInfo" asp-route-id="@order.OrderId">Смотреть подробности</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> Бюджет - @order.Price</small>
                </div>
            </div>
        }
    }
</div>